.details-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/background1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
 }

 .details-article {
    width: 450px;
    height: 450px;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    margin: 10px;
    color: #333;
   background-color: transparent;
   border: 2px solid rgba(255, 255, 255, .2);
   backdrop-filter: blur(20px);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   border-radius: 10px;
}

.details-article h3 {
    font-size: 20px;
    margin-top: 20px;
}

.details-article p {
    margin-top: 20px;
    font-size: 15px;
    --max-lines: 4;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}
