.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.content h1 {
    font-size: 90px;
    margin-top: 80px;
    color: orange
}

.content p {
    margin: 15px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}

.route-link {
  padding: 3px 10px;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  border: 2px solid #002f96;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  position: relative;
}

.create-link {
    padding: 3px 10px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #002f96;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}



  

