.body-notes-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/img/background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.notes-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;

}

.note-card {
    width: 350px;
    height: 350px;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    margin: 10px;
    color: #333;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.note-card h3 {
    font-size: 20px;
    margin-top: 20px;
}

.note-card p {
    margin-top: 20px;
    font-size: 15px;
    --max-lines: 3;
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

.action {
    text-decoration: none; 
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-block; 
    transition: background-color 0.3s ease; 
}

.action:hover {
    background-color: var(--text-color-light);
}

.note-card:nth-child(n + 5) {
    color: #fff;
}

.note-card p:nth-child(n + 6) {
    font-style: italic;
}

.loader {
    width: 150px; 
    height: 150px; 
    background-image: url('../img/loader-logo-1.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    position: fixed; 
    top: 47%; 
    left:47%; 
    transform: translate(-50%, -50%); 
    z-index: 9999; 
    border-radius: 50%; 
    animation: spin 5s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
        
        
        .loader {
            width: 150px; 
            height: 150px; 
            background-image: url('../img/loader-logo-1.png');
            background-size: cover; 
            background-repeat: no-repeat; 
            background-position: center;
            position: fixed; 
            top: 40%; 
            left:34%; 
            transform: translate(-50%, -50%); 
            z-index: 9999; 
            border-radius: 50%; 
            animation: spin 5s linear infinite;
        }
        
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
}