@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Fasthand&family=Poppins:wght@300&family=Tilt+Prism&family=Ubuntu&display=swap');

@import url(nav.css);
@import url(home.css);
@import url(login.css);
@import url(create.css);
@import url(notes.css);
@import url(details.css);
@import url(edit.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', 'sans-serif';
}

:root {
    --bg-color: #41635E;
    --text-color-light:#82d1c5;
    --second-bg-color: #112e42;
    --text-color: #030303;
    --main-color: #4a8077;
    --text-color-dirty:#eae7e6;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--text-color-dirty);
    color: var(--text-color);
}